html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.about {
  grid-area: about;
  &__header {
    color: #1f7a8c;
  }
  &__link {
    color: #a3d9ff;
  }
  &__paragraph {
    padding: 16px;
    color: #242325;
    font-size: 20px;
  }
  &__picture {
    width: 100%;
    max-width: 100px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
  }
}

.content {
  grid-area: content;
}

.day {
  padding: 16px;
  &__header {
    color: #1f7a8c;
    font-size: 20px;
    margin: 0 0 16px;
  }
  &--sunday {
    color: tomato;
  }
  &__paragraph {
    color: #242325;
    line-height: 24px;
  }
  &__link {
    color: #a3d9ff;
  }
}

.footer {
  grid-area: footer;
}

.header {
  color: yellow;
  grid-area: header;
  &__title {
    color: #7e6b8f;
    padding: 16px;
  }
}

.main {
  max-width: 700px;
  margin: 32px auto;
  padding-top: 50px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "about content"
    "footer footer";
  grid-template-columns: 200px 1fr;
  @media (max-width: 640px) {
    grid-template-areas:
      "header"
      "content"
      "about"
      "footer";
    grid-template-columns: 1fr;
  }
}

.navigation {
  &__link {
    color: #a3d9ff;
  }
  &__list {
    list-style: none;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: block;
    margin: 0 16px;
  }
}

.site-header {
  background-color: grey;
  box-sizing: border-box;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
